{% extends 'MainBundle::Base/base.html.twig' %}

{% block body %}

<section class="content-header">
    <h1>
        Remover uma vaquinha
    </h1>
</section>

<section class="content">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Informações sobre a remoção</h3>
        </div>

        <div class="box-body">
            {% if status == 0 %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Erro.</h4>
                {{ message }}
            </div>
            {% endif %}

            {% if status == 1 %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Sucesso.</h4>
                <b>A vaquinha foi removida do sistema.</b>
            </div>
            {% endif %}
        </div>

        {% if status == 1 %}
        <div class="box-footer">
            <a href="{{ path('list_main') }}" class="btn btn-primary">Retornar à listagem</a>
        </div>
        {% endif %}

    </div>
</section>

{% endblock %}
