<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TAG Interativa - COW Information</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dist/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dist/css/skins/_all-skins.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/iCheck/flat/blue.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/dist/css/custom.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('assets/dist/css/docsupport/prism.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/dist/css/chosen.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/dist/component/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
     <link rel="shortcut icon" href="{{ asset('assets/dist/img/favicon.ico?v1') }}" />
    <style type="text/css" media="all" />
    .chosen-rtl .chosen-drop { left: -9000px; }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue-light sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            {% include 'MainBundle::Base/main-header.html.twig' %}
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            {% include 'MainBundle::Base/main-sidebar.html.twig' %}
        </aside>

        <div class="content-wrapper">
            {% block body -%}{% endblock %}
        </div>

        <footer class="main-footer ">
            {% include 'MainBundle::Base/footer.html.twig' %}
        </footer>

    </div>

    <script src="{{ asset('assets/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <script>
    $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{{ asset('assets/plugins/morris/morris.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/sparkline/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/knob/jquery.knob.js') }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/slimScroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/fastclick/fastclick.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/number/jquery.number.min.js') }}"></script>
    <script src="{{ asset('assets/dist/js/app.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/dist/component/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/dist/js/pages/dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/dist/js/demo.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/dist/js/chosen.jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/dist/js/docsupport/prism.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $('.number-format').number(true, 2 );

    $('.only-number-format').keyup(function () {
        return onlyNumber(event);
    });

    function onlyNumber(e)
    {
        var tecla = (window.event) ? event.keyCode : e.which;
        if ((tecla > 47 && tecla < 58))
        return true;
        else {
            if (tecla == 8 || tecla == 0)
            return true;
            else
            return false;
        }
    }

    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    </script>

</body>
</html>
