<!-- Logo -->
<a href="{{ path('list_main') }}" class="logo">
    <span class="logo-mini"><b>C</b>I</span>
    <span class="logo-lg"><b>COW Information</b></span>
</a>

<nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Main</span>
    </a>
</nav>
