<section class="sidebar">

    <div class="user-panel">
        <div class="col-md-12 image">
            <h2>COW</h2>
            <p>Hello, Welcome!</p>
        </div>
    </div>

    {% include 'MainBundle::Base/nav.html.twig' %}
</section>
