<ul class="sidebar-menu">
    <li class="header">MAIN</li>
    <li class="treeview">
        <a href="{{ path('list_main') }}">
            <i class="fa fa-list"></i> <span>Listar</span>
        </a>
    </li>
    <li class="treeview">
        <a href="{{ path('cow_new_main') }}">
            <i class="fa fa-plus"></i> <span>Cadastrar</span>
        </a>
    </li>
</ul>
