{% extends 'MainBundle::Base/base.html.twig' %}

{% block body %}

<section class="content-header">
    <h1>
        Listagem
        <small>vaquinas cadastradas</small>
    </h1>

    <ol class="breadcrumb">
        <li class="active">Listagem</li>
    </ol>
</section>

<section class="content">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Listagem</h3>
        </div>

        <div class="box-body">
            {% if results|length > 0 %}
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <th>Devo Comprar?</th>
                        <th>Peso</th>
                        <th>Idade</th>
                        <th>Preço</th>
                        <th>Consumo diário de Pasto (kg)</th>
                        <th>Custo diário de Pasto (R$)</th>
                        <th>Ações</th>
                    </tr>
                    {% set totalPastureInReal = 0 %}
                    {% set totalPastureInKg = 0 %}
                    {% set count = 0 %}
                    {% for result in results %}

                    {% set totalPastureInReal = totalPastureInReal + result.getTotalPastureInReal %}
                    {% set totalPastureInKg = totalPastureInKg + result.getTotalPastureInKg %}

                    <tr {% if count == 0 %}class="cow-to-payment"{% endif %}>
                        <td>{{ result.id }}.</td>
                        <td>
                            {% if count == 0 %}
                                SIM!
                            {% else %}
                                Não
                            {% endif %}
                        </td>
                        <td>{{ result.weight|number_format(0, '.', ',') }}kg</td>
                        <td>{{ result.age|number_format(0, '.', ',') }} anos</td>
                        <td>R$ {{ result.price|number_format(2, '.', ',') }}</td>
                        <td>{{ result.getTotalPastureInKg }} kg</td>
                        <td>R$ {{ result.getTotalPastureInReal|number_format(2, '.', ',') }}</td>
                        <td>
                            <a href="{{ path('cow_edit_main', {'id': result.id}) }}" class="btn-sm btn-success">Editar</a>
                            <a href="{{ path('cow_detail_main', {'id': result.id}) }}" class="btn-sm btn-warning">Detalhes</a>
                            <a href="{{ path('cow_delete_main', {'id': result.id}) }}" class="btn-sm btn-danger" onclick="return confirm('Muuuu! Tem certeza que deseja remover esta vaquinha?');">Remover</a>
                        </td>
                    </tr>
                    {% set count = count + 1 %}
                    {% endfor %}
                    <tr>
                        <td>Totais:</td>
                        <td colspan="3">&nbsp;</td>
                        <td>{{ totalPastureInKg }} kg</td>
                        <td colspan="2">R$ {{ totalPastureInReal|number_format(2, '.', ',') }}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>Nenhuma vaquinha foi cadastrada.</p>
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}
