{% extends 'MainBundle::Base/base.html.twig' %}

{% block body %}

<section class="content-header">
    <h1>
        Listagem
        <small>vaquinas cadastradas</small>
    </h1>

    <ol class="breadcrumb">
        <li class="active">Listagem</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-md-3">

            <div class="box box-primary">
                <div class="box-body box-profile" style="text-align:center;">

                    <img class="profile-user-img img-circle" src="{{ asset('assets/dist/img/cow-image.png') }}" >

                    <h3 class="profile-username text-center">TAG Cow</h3>

                    <p class="text-muted text-center">Vaquinha</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item pull-left" style="width: 100%;">
                            <span class="pull-left"><b>Peso:</b></span> <a class="pull-right">{{ result.weight|number_format(0, '.', ',') }}kg</a>
                        </li>
                        <li class="list-group-item pull-left" style="width: 100%;">
                            <span class="pull-left"><b>Idade:</b></span> <a class="pull-right">{{ result.age|number_format(0, '.', ',') }} anos</a>
                        </li>
                        <li class="list-group-item pull-left" style="width: 100%;">
                            <span class="pull-left"><b>Preço:</b></span> <a class="pull-right">R$ {{ result.price|number_format(2, '.', ',') }}</a>
                        </li>
                    </ul>

                    <div style="clear:both"></div>

                    <a href="{{ path('cow_edit_main', {'id': result.id}) }}" class="btn btn-primary btn-block" style="margin-top: 20px;"><b>Editar</b></a>

                    <a href="{{ path('list_main') }}" class="btn btn-primary btn-block" style="margin-top: 10px;"><b>Retornar à listagem</b></a>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="nav-tabs-custom">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Informações de Consumo</a></li>
                </ul>

                <div class="tab-content">

                    <div class="active tab-pane" id="activity">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Informações de consumo diário</th>
                                    <th>Valor</th>
                                </tr>

                                <tr>
                                    <td>Consumo diário de Pasto (kg)</td>
                                    <td>{{ result.getTotalPastureInKg }} kg</td>
                                </tr>
                                <tr>
                                    <td>Custo diário de Pasto (R$)</td>
                                    <td>R$ {{ result.getTotalPastureInReal|number_format(2, '.', ',') }}</td>
                                </tr>

                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>

                                <tr>
                                    <td><b>Informações de consumo mensal</b></td>
                                    <td><b>Valor</b></td>
                                </tr>

                                <tr>
                                    <td>Consumo mensal de Pasto (kg)</td>
                                    <td>{{ result.getTotalPastureInKg * 30 }} kg</td>
                                </tr>
                                <tr>
                                    <td>Custo mensal de Pasto (R$)</td>
                                    <td>R$ {{ (result.getTotalPastureInReal * 30)|number_format(2, '.', ',') }}</td>
                                </tr>

                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>

                                <tr>
                                    <td><b>Informações de consumo anual</b></td>
                                    <td><b>Valor</b></td>
                                </tr>

                                <tr>
                                    <td>Consumo anual de Pasto (kg)</td>
                                    <td>{{ result.getTotalPastureInKg * 365 }} kg</td>
                                </tr>
                                <tr>
                                    <td>Custo anual de Pasto (R$)</td>
                                    <td>R$ {{ (result.getTotalPastureInReal * 365)|number_format(2, '.', ',') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
