{% extends 'MainBundle::Base/base.html.twig' %}

{% block body %}

<section class="content-header">
    <h1>
        Edição
        <small>editar uma vaquinha</small>
    </h1>

    <ol class="breadcrumb">
        <li class="active">editar</li>
    </ol>
</section>

<section class="content">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário de Edição</h3>
        </div>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="box-body">
            {% if(app.request.get('success') is defined and app.request.get('success') == 1) %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Informações da Vaquinha editadas com sucesso.</h4>
                As informações da <b>vaquinha</b> foram editadas com sucesso, <a href="{{ path('list_main') }}">clique aqui</a> para retornar à listagem.
            </div>
            {% endif %}

            {% if(message is null and app.request.get('success') is not defined) %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Informação:</h4>
                Nesta área você poderá cadastrar uma nova <b>vaquinha</b> para avaliação. Para tal, utilize o formulário abaixo, informando todos os campos solicitados.
                <br/>
                <b>PS.: O sistema aceitará vaquinha de até 20 (vinte) anos.</b>
            </div>
            {% endif %}

            {% if(message is defined and message is not null) %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Erro:</h4>
                <b>{{ message }}</b>
            </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.price, 'Preço', {'label_attr': {'class': 'col-md-1 control-label' }}) }}
                <div class="col-md-6">
                    <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon">R$</span>
                        {{ form_widget(form.price, {'attr': {'class': 'number-format form-control'}}) }}
                        {{ form_errors(form.price) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.weight, 'Peso', {'label_attr': {'class': 'col-md-1 control-label' }}) }}
                <div class="col-md-6">
                    <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon">kg</span>
                        {{ form_widget(form.weight, {'attr': {'class': 'only-number-format form-control', 'onkeypress': 'return onlyNumber(event);'}}) }}
                        {{ form_errors(form.weight) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.age, 'Idade', {'label_attr': {'class': 'col-md-1 control-label' }}) }}
                <div class="col-md-6">
                    <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon">anos</span>
                        {{ form_widget(form.age, {'attr': {'class': 'only-number-format form-control', 'onkeypress': 'return onlyNumber(event);'}}) }}
                        {{ form_errors(form.age) }}
                    </div>
                    <p>
                        <b>PS.: O sistema aceitará somente vaquinha de até <span style="color: #FF0000;">20 (vinte) anos</span>.</b>
                    </p>
                </div>
            </div>
        </div>

        <div class="box-footer">
            {{ form_widget(form.submit) }}
        </div>

        {{ form_end(form) }}

    </div>
</section>

{% endblock %}
